<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>VhNNq7mwyKw31M519t7dLT9bHD5PqKTi9NWRxsFpzQ+sMboaHOmVEuyzyThJLrIXdyZhRpxy6YhyIF+BbJblvTN/aMhxuX4Jsq0HfHxNHxrT85/6Ztgr4gmpb+SQap/Uikz/O6x/IU82an/LoPm01heMpC+KtRq4CfqYsNo+yH1iOMsqGykqIrS2+BABb+7Aeh8AQCg5q7dTHBh7lu9rdPkucYYRAB1jlaVf4+cyFrqzHtLPGY8pKLVDBMFOFpiF27lR1QIuNIOw7AF7ZQDpbFjJOrZAT2SGq9UKeTRW1aZMFLEgtGj6AVMThPabnxtF/XYF/gLp9X8CjHVFsmYuEg==</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>LXgP01rz1YnVndVpvstcDNenti/j1+7Kpxsk6zeubK8=</CipherValue>
            </CipherData>
        </EncryptedData>
    </appSettings>
</configuration>